<h1>Welcome!</h1>

<form action="/greet" method="POST">
<!-- action is location -->
<!-- method is the http verb -->
  <label for="user_name">Name:</label>

  <p><input type="text" name="user_name"
    id="user_name"</p>
<!-- what attribute feeds our params for our form? -->
<!-- user_name is the "key" in our params -->
    <input type="submit" value="Submit Button"/>

</form>
